@use "_variables" as *;

:root {
    --background-color: #{$secondary_color};
    --text-color: #{$primary_color};
    --link-color: #{$dark-accent-color};
    --blend-mode: #{$dark-blend-mode};
}
  
[theme="dark"] {
    --background-color: #{$primary_color};
    --text-color: #{$secondary-color};
    --link-color: #{$light-accent-color};
    --blend-mode: #{$light-blend-mode};
}

body { // Baseline text & background color
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color $slow-transition, color $slow-transition;
}

a {
    color: var(--link-color);
    transition: color $slow-transition;
}

a:hover {
    color: var(--text-color);
}

.main-nav {
    color: var(--text-color);
    transition: color $slow-transition;
}

::selection { 
    color: var(--background-color);
    background-color: var(--link-color);
}