@use "_variables" as *;
  
body { // Baseline text & background color
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color $slow-transition, color $slow-transition;
}

a {
    color: var(--link-color);
    transition: color $slow-transition;
}

a:hover {
    color: var(--text-color);
}

.main-nav {
    color: var(--text-color);
    transition: color $slow-transition;
}

::selection { 
    color: var(--background-color);
    background-color: var(--link-color);
}