@use "_variables" as *;

@mixin base-cursor {
    position: fixed; // Follow cursor
    width: calc($responsive-pad * 2);
    height: calc($responsive-pad * 2);
    border-radius: 50%;
    transform: translate(-50%, -50%); // Center the circle
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
}

#cursor {
    @include base-cursor;
    background-color: #fff;
    mix-blend-mode: difference; // Invert content beneath
    z-index: 9998; // Ensure it stays above all other content
}

#cursor-bg {
    @include base-cursor;
    background-color: (0,0,0,0); // Initialize as transparent
    mix-blend-mode: var(--blend-mode); // Blend mode for tint
    z-index: 9999; // Layered above the main cursor for tint
}

//INTRO
.animate-container {
  display: flex;
  align-items: baseline; /* Align to baseline */
  text-align: left;
  margin: $small-pad;
  width: max-content;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //gap: 1rem;
  margin: 0;
  height: auto;//100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  //width: max-content;
}

.space {
  margin-left: 0.5rem; /* Space between text elements */
}
  
//TOGGLE THEME

//********************REMOVE SLIDE ANIMATION!************************************

.toggle-container {
    position: relative;
    //font-size: 2rem;
    //font-weight: bold;
    user-select: none;
    overflow: hidden;
    height: 3rem;
    width: 150px;
    //text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-text {
    position: absolute;
    width: 100%;
    //text-align: center;
    transition: transform $slow-transition, opacity $slow-transition;
}

.toggle-text.light {
    //transform: translateY(-100%); //Swipe up
    opacity: 0; //Fade out
}

.toggle-text.dark {
    //transform: translateY(100%); //Swipe down
    opacity: 0; //Fade in
}

[theme="light"] .toggle-text.light {
    //transform: translateY(0);
    opacity: 1;
}

[theme="dark"] .toggle-text.dark {
    //transform: translateY(0);
    opacity: 1;
}

