@use "_variables" as *;

/*
@mixin base-type {
    font-family: $primary-font;
    font-size: $base-font-size;
}
*/

h1 {
    @include font(1);
}

h2, h3, h4, h5, h6 {
    @include font(2);
}

p {
    //@include base-type;
    //font-variation-settings: "wght" $base-font-weight;
    @include font(1);
    //transition: font-variation-settings $fast-transition;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.main-nav {
    @include font(1, 'link');
    text-decoration: none;
    padding: $responsive-pad;
    transition: font-variation-settings $fast-transition;
}

.main-nav:hover {
    @include font(1, 'hover');
}

.scroll-text {
    @include font(1);
    transition: transform 0.3s ease;
    //width: max-content;
}
  
.column-text {
    @include font(1);
    //text-align: left;
    //list-style-type: none;
}
  
.column-text li {
    //line-height: 2rem;
    transition: opacity 0.3s ease;
}


#logo {
    text-transform: uppercase;
}