// Colors
$primary-color: #000;
$secondary_color: #fff;
$light-accent-color: #f1f227;
$dark-accent-color: #5d24f5;
$light-blend-mode: multiply;
$dark-blend-mode: screen;

// Typography
$primary-font: cofo-sans-variable, Arial, sans-serif;
$secondary-font: cofo-sans-mono-variable, Arial, sans-serif;
$base-font-size: 2rem;
$base-font-weight: 350;
$scale-factor: 1.5;

// Layout
$base-pad: min(1em, 10px);
$bar-width: clamp(240px, 22rem, 360px);

$header-height: 12rem;
$breakpoint: min(640px, 64rem); //max?

//Utilities
$fast-transition: 0.2s ease;
$slow-transition: 0.4s ease;